@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed:wght@700&display=swap'); 


* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    
    /* background-color: #d2dbdd; */
    font-family: 'Roboto Condensed', sans-serif;
}


select {
    font-size: 33px;
    width: 76px;
    margin-left: 10%;
    
}

h1 {
    font-size: 50px;
    margin-left: 50px;
}

a.active_class {
    color: rgb(119, 0, 255);
    border-bottom: 1px solid red;
}
